{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-2">
                    <h2>Mes informations</h2>
                <div class="col-md-12 mt-3">
                    <a href="{% url 'ajouter_info' %}" class=" p-0 btn btn-info"><i class="fas fa-plus">Ajouter vos informations</i></a>
                </div>
                {% if liste_info %}

<div class="mt-3">
{% for index in liste_info %}
                    <div class="card">

                        <div class="card-body">
                            <div class="table table-hover">
                                <thead >
                                    <tr>
                                        <th><h5>Nom</h5></th>
                                    </tr>
                                </thead>

                                <tboby>


                                        <tr>


                                            <td><a  href="{% url 'listes' %}" class="h6" style="color: red">{{ index }}</a></td><hr>
                                             <td>
                                                <a href="{% url 'delete' index.pk  %}" class="btn btn-danger float-end btn-sm"><i class="fas fa-trash me-5 ms-5"> Supprimer</i></a>
                                                <a href="{% url 'update' index.pk %}" class="btn btn-info me-5 ms-5 float-end btn-sm" ><i class="fas fa-edit me-5 ms-5"> Modifier</i></a>

                                            </td>
                                            <td><h5  class="mt-3">Description</h5><a  href="" class="h6" style="color: blue"> {{ index.desc|truncatewords:4 }}</a></td>


                                        </tr>


                                </tboby>
                            </div>
                        </div>

                    </div>
                        {% endfor %}
</div>


                    {% else %}
                    <p class="mt-2 h6">Nous n'avez soumis aucune information</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}