
{% load static %}
<!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6 ">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Cotonou, Sekandji</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>90 95 01 38/60 39 24 12</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>assogbastephane74@gmail.com</p>
                    <div class="d-flex pt-2 ">
                        <a class="btn btn-outline-danger btn-social  " href="https://twitter.com/StephaneASSOGB1"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary btn-social" href="https://www.facebook.com/stephanemathias.assogba.9"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/in/st%C3%A9phane-assogba-64b60b217/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div class="col-lg-5 col-md-9 ms-lg-auto">
                                <a href="{% url 'ajouter_info' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Rejoins-nous<i class="fa fa-arrow-right ms-3"></i></a>
                </div>
            </div>
        </div>
        <div class="container center">
            <div class="copyright center">
                <div class="row center">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <h7 class="center"><a class="border-bottom" href="#">SMAM</a></h7>, All Right Reserved.

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
