
{% extends 'heriters.html' %}
{% block content %}

    {% load static %}

{% include '_navbar.html' %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Listes</h1>
                </div>
            </div>
        </div>
    </div>


    <!-- Header End -->
    <div class="container">
    <div class="row">
        {% for voir in data %}
            <div class=" col-12 col-lg-3 col-md-6 col-xl-3 ">
               <div class="card mt-3 p-2">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <a href="{% url 'voir' voir.name %}"><img src="/media/{{voir.image }}" class="img-fluid" style="height: 200px"/>

                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>

              </a></div>
              <div class="card-body" style="height: 200px">
                <h5 class="card-title">{{ voir.name}}</h5>

                <p class="card-text">{{ voir.desc|truncatewords:4}}</p>
                  <p class="">Mise en ligne il y a {{ voir.created_at|timesince }}</p>

              </div>
                   <a href="{% url 'voir' voir.name %}" class="btn btn-primary">Voir la suite</a>
            </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% include '_footer.html' %}


{% endblock %}


